<html lang="en">
<head>
    <title>Leaderboard</title>
    <link rel='stylesheet' href='/css/tailwind.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<%- include('./partials/_header.ejs'); %>
<section class="mx-auto w-full">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl font-bold">Posts</h1>
    </div>
</section>
<div class="mt-4">
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <% posts.forEach(post => { %>
            <div class="flex space-x-4 w-full flex-nowrap items-center mb-4">
                <div class="px-5 py-4 bg-gray-200 rounded-lg w-full">
                        <div class="w-auto p-2">
                            <div class="flex space-x-4 justify-start items-center">
                                <div class="flex space-x-3.5 w-full flex-nowrap items-center justify-start">
                                    <div class="avatar">
                                        <P><%- post.profile.display_name[0] %></P>
                                    </div>
                                    <div class="flex flex-wrap justify-end">
                                        <div class="w-auto">
                                            <p><%- post.profile.display_name %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center space-x-2 w-full justify-end">

                                    <p class="text-nowrap"><%- post.timeAgo %></p>

                                </div>
                            </div>

                            <p class="mt-2 max-w-lg"><%- post.content %></p>
                            <div class="flex space-x-2 items-center mt-2">
                                <div class="bg-gray-300 px-2 py-1 rounded-full">
                                    <p id="post-wpm-badge" class="text-sm">WPM: <%- post.test.wpm %></p>
                                </div>
                                <div class="bg-gray-300 px-2 py-1 rounded-full">
                                    <p id="post-accuracy-badge" class="text-sm">Accuracy: <%-  post.test.accuracy %>%</p>
                                </div>
                            </div>
                            <div class="bg-gray-300 px-2 py-1 rounded-full w-fit my-2">
                                <p class="text-sm text-nowrap">Song: <i><%- post.test.song.name%></i> by <i><%- post.test.song.artist%></i></p>
                            </div>
                            <div class="flex space-x-2 mt-4 justify-between items-center">
                                <button onClick="showDialog('<%= JSON.stringify(post) %>')" class=" info__btn">More Info</button>
                                <div class="text-right">
                                    <p><%- post.comments.length %> Comment</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        <% }); %>
    </section>
    <div class="relative z-10 hidden" aria-labelledby="modal-title" id="favDialog" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
                                <div class="w-auto p-2">
                                    <div class="flex space-x-4 justify-start items-center">
                                        <div class="flex space-x-3.5 w-full flex-nowrap items-center justify-start">
                                            <div class="avatar">
                                                <P id="avatar-i"></P>
                                            </div>
                                            <div class="flex flex-wrap justify-end">
                                                <div class="w-auto">
                                                    <p id="avatar-name">Jack Patterson</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-nowrap" id="post-time-ago">10m ago</p>
                                    </div>

                                    <p class="mt-2 max-w-lg"></p>
                                    <div class="flex space-x-2 items-center mt-2">
                                        <div class="bg-gray-300 px-2 py-1 rounded-full">
                                            <p id="post-d-wpm-badge" class="text-sm"></p>
                                        </div>
                                        <div class="bg-gray-300 px-2 py-1 rounded-full">
                                            <p id="post-d-accuracy-badge" class="text-sm"></p>
                                        </div>
                                        <div class="bg-gray-300 px-2 py-1 rounded-full">
                                            <p id="post-d-song-badge" class="text-sm">Song: <i id="post-d-song-badge-inner" class="text-sm"></i></p>
                                        </div>
                                    </div>
                                    <div class="flex flex-col space-y-2 mt-4">
                                        Comments
                                        <div class="mt-2" id="comm-lst">
                                        </div>
                                        <hr/>
                                            <form class="flex space-x-2 items-center mt-2 w-full">
                                                <label for="comment-inp" class="flex-grow">
                                                    <input id="comment-inp" type="text" class="w-full p-2 bg-gray-300 rounded-lg" placeholder="Add a comment...">
                                                </label>
                                                <button onClick="makeComment()" class="primary__btn">Comment</button>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 gap-4">
                        <button type="button" onClick="hideDialog()" class="info__btn">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/posts/dialog.js"></script>
<script src="/js/time-ago.js"></script>
</body>
</html>