<html lang="en">
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/css/tailwind.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('./partials/_header.ejs'); %>
    <section class="mx-auto w-full">
      <div class="flex justify-between items-center">
        <form id="dn-form" class="mb-0">
          <label class="flex items-center">
            <input id="dp-inp" name="display_name" placeholder="<%= profile.display_name %>" class="text-2xl font-bold bg-gray-200 rounded-md mr-2 py-1 px-4"/>
            <button type="submit" class="primary__btn">Save Username</button>
          </label>
        </form>


        <% if(self){ %>
        <div class="flex space-x-2 items-center">
          <a href="/settings/songs" class="info__btn">My Songs</a>
          <button id="logout" class="text-white hover:bg-red-600 px-4 py-2 rounded-md bg-red-500">Logout</button>
          <hr class=" border-gray-200 border h-10 inline-block">
          <button id="delete-profile" onClick="deleteProfile()" class="text-white hover:bg-red-600 px-4 py-2 rounded-md bg-red-500">Delete Profile</button>
        </div>
        <% } %>
      </div>
      <section class="py-4 overflow-hidden">
        <div class="mx-auto">
          <div class="flex flex-wrap -m-2">
            <div class="w-full sm:w-1/2 lg:w-1/3 p-2">
              <div class="px-5 py-3 h-full bg-gray-200 rounded-lg">
                <div class="flex flex-wrap justify-between -m-2">
                  <div class="w-auto p-2">
                    <p class="mb-4 text-sm text-neutral-500 font-medium">Best WPM</p>
                    <h3 class="font-heading text-3xl font-semibold"><%= profile.best_wpm.toFixed(0) %></h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 opacity-50">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-2">
              <div class="px-5 py-3 h-full  bg-gray-200 rounded-lg">
                <div class="flex flex-wrap justify-between -m-2">
                  <div class="w-auto p-2">
                    <p class="mb-4 text-sm text-neutral-500 font-medium">Average WPM</p>
                    <h3 class="font-heading text-3xl font-semibold"><%= profile.avg_wpm.toFixed(0) %></h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 opacity-50">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-2">
              <div class="px-5 py-3 h-full  bg-gray-200 rounded-lg">
                <div class="flex flex-wrap justify-between -m-2">
                  <div class="w-auto p-2">
                    <p class="mb-4 text-sm text-neutral-500 font-medium">Max Level</p>
                    <h3 class="font-heading text-3xl font-semibold"><%= profile.max_level %></h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 opacity-50">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-2">
              <div class="px-5 py-3 h-full  bg-gray-200 rounded-lg">
                <div class="flex flex-wrap justify-between -m-2">
                  <div class="w-auto p-2">
                    <p class="mb-4 text-sm text-neutral-500 font-medium">Average Accuracy</p>
                    <h3 class="font-heading text-3xl font-semibold"><%= profile.avg_accuracy.toFixed(0) %> %</h3>
                  </div>
                  <div class="w-auto p-2">

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-4 opacity-50">
                      <circle cx="12" cy="12" r="10"></circle>
                      <line x1="22" y1="12" x2="18" y2="12"></line>
                      <line x1="6" y1="12" x2="2" y2="12"></line>
                      <line x1="12" y1="6" x2="12" y2="2"></line>
                      <line x1="12" y1="22" x2="12" y2="18"></line></svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-2">
              <div class="px-5 py-3 h-full  bg-gray-200 rounded-lg">
                <div class="flex flex-wrap justify-between -m-2">
                  <div class="w-auto p-2">
                    <p class="mb-4 text-sm text-neutral-500 font-medium">Word Length Tests Taken</p>
                    <h3 class="font-heading text-3xl font-semibold"><%= testsForWordLength %></h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 opacity-50">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/3 p-2">
              <div class="px-5 py-3 h-full  bg-gray-200 rounded-lg">
                <div class="flex flex-wrap justify-between -m-2">
                  <div class="w-auto p-2">
                    <p class="mb-4 text-sm text-neutral-500 font-medium">Time Based Tests Taken</p>
                    <h3 class="font-heading text-3xl font-semibold"><%= testsForTime %></h3>
                  </div>
                  <div class="w-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 opacity-50">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="flex justify-start space-x-4">
        <button class="tablinks" onClick="handleTabs(event, 'recent-tests')">Recent Tests</button>
        <button class="tablinks" onClick="handleTabs(event, 'friends')">Friends</button>
        <button class="tablinks" onClick="handleTabs(event, 'posts')">Posts</button>
        <button class="tablinks" onClick="handleTabs(event, 'badges')">Badges</button>
      </section>
      <div class="mt-4">
        <section id="recent-tests" class="tabcontent ">
          <% tests.forEach(test => { %>
          <div class="flex space-x-4 w-full flex-nowrap items-center mb-4">
            <p class="text-nowrap"><%- new Date(test.timestamp).toISOString().split("T")[0] %></p>
            <div class="px-5 py-4 bg-gray-200 rounded-lg w-full">
              <div class="flex flex-wrap justify-start -m-2 space-x-2 items-center">
                <div class="bg-gray-300 px-2 py-1 rounded-full h-fit">
                  <p class="text-sm text-nowrap">WPM: <%- test.wpm %></p>
                </div>
                <div class="bg-gray-300 text-nowrap px-2 py-1 rounded-full h-fit">
                  <p class="text-sm">Accuracy: <%- test.accuracy %>%</p>
                </div>
                <div class="bg-gray-300 text-nowrap px-2 py-1 rounded-full h-fit" >
                  <p class="text-sm">Level: <%- test.level === 0 ? 1 : test.level %></p>
                </div>
                <div class="bg-gray-300 text-nowrap px-2 py-1 rounded-full h-fit" >
                  <p class="text-sm"><%- test.type === "wordLength" ? test.content.split(" ").length : test.content.split(" ").length-1 %> Words</p>
                </div>
                <% if(test.time){ %>
                  <div class="bg-gray-300 text-nowrap px-2 py-1 rounded-full h-fit" >
                    <p class="text-sm">Time: <%- test.time %>s</p>
                  </div>
                <% } %>
                <p>•</p>
                <div class="py-1" >
                  <p class="text-sm"><%- test.content %></p>
                </div>

              </div>
            </div>
          </div>
            <% }); %>
        </section>
        <section id="friends" class="tabcontent">
          <% if(self){ %>
          <form id="friend-form" action="/api/friend" method="POST" class="flex space-x-2 items-center mt-2 w-full">
            <label for="friend-inp" class="flex-grow">
              <input id="friend-inp" name="username" type="text" class="w-full p-2 bg-gray-200 rounded-lg" placeholder="Add Friend By Display Name">
            </label>
            <button type="submit" class="primary__btn">Search and Add</button>
          </form>
          <% } %>
          <div id="friend-lst">
            <% friends.forEach(friend => { %>
              <div class="mb-4" id="friend-entry-<%- friend._id %>">
                <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
                  <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                    <div class="avatar">
                      <P><%- profile.display_name === friend.user_1.display_name ? friend.user_2.display_name[0] : friend.user_1.display_name[0] %></P>
                    </div>
                    <div class="flex flex-wrap justify-between">
                      <div class="w-auto">
                        <p><%-profile.display_name === friend.user_1.display_name ? friend.user_2.display_name : friend.user_1.display_name %></p>
                      </div>
                    </div>
                  </div>
                  <div class="flex space-x-2 items-center justify-end">
                    <% if( !(profile.display_name ===  friend.user_1.display_name || profile.display_name ===  friend.user_2.display_name)){ %>
                      <button onClick="window.location.href = '/profile/' + '<%- profile.display_name ===  friend.user_1.display_name ? friend.user_2.display_name : friend.user_1.display_name %>'" class="primary__btn">Visit</button>
                    <% } %>
                    <% if(self){ %>
                      <button onClick="removeFriend('<%- friend._id %>')" class="danger__btn">Remove</button>
                    <% } %>
                  </div>

                </div>
              </div>
            <% }); %>
          </div>

        </section>
        <section id="posts" class="tabcontent">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-2">
            <% posts.forEach(post => { %>
              <div class="flex space-x-4 w-full flex-nowrap items-center mb-4">
                <div class="px-5 py-4 bg-gray-200 rounded-lg w-full">
                  <div class="w-auto p-2">
                    <div class="flex space-x-4 justify-start items-center">
                      <div class="flex space-x-3.5 w-full flex-nowrap items-center justify-start">
                        <div class="avatar">
                          <P><%- post.profile.display_name[0] %></P>
                        </div>
                        <div class="flex flex-wrap justify-end">
                          <div class="w-auto">
                            <p><%- post.profile.display_name %></p>
                          </div>
                        </div>
                      </div>
                      <div class="flex items-center space-x-2 w-full justify-end">

                        <p class="text-nowrap"><%- post.timeAgo %></p>

                      </div>
                    </div>

                    <p class="mt-2 max-w-lg"><%- post.content %></p>
                    <div class="flex space-x-2 items-center mt-2">
                      <div class="bg-gray-300 px-2 py-1 rounded-full">
                        <p id="post-wpm-badge" class="text-sm">WPM: <%- post.test.wpm %></p>
                      </div>
                      <div class="bg-gray-300 px-2 py-1 rounded-full">
                        <p id="post-accuracy-badge" class="text-sm">Accuracy: <%- post.test.accuracy %>%</p>
                      </div>
                    </div>
                    <div class="bg-gray-300 px-2 py-1 rounded-full w-fit my-2">
                      <p class="text-sm text-nowrap">Song: <i><%- post.test.song.name%></i> by <i><%- post.test.song.artist%></i> </p>
                    </div>
                    <div class="flex space-x-2 mt-4 justify-between items-center">
                      <div class="text-left">
                        <% post.comments.forEach(comment => { %>
                          <div class="mt-2">
                            <div class="flex space-x-2 items-center">
                              <div class="avatar">
                                <P><%- comment.profile.display_name[0] %></P>
                              </div>
                              <div class="flex-wrap justify-between">
                                <div class="w-auto">
                                  <p><%- comment.profile.display_name %></p>
                                </div>
                                <p class="text-xs"><%- comment.timeAgo %></p>
                              </div>
                            </div>
                            <p class="mt-2 max-w-lg"><%- comment.content %></p>
                          </div>
                          <hr/>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </section>
      </div>
    </section>
    <section id="badges" class="tabcontent flex flex-col space-y-4">
        <% if(tests.length > 1){%>
        <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
          <div class="flex space-x-3.5 w-full flex-nowrap items-center">
              <P>Completed first test</P>
          </div>
        </div>
        <% } %>
        <% if(tests.length > 25){%>
            <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
              <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                <P>Completed 25 tests</P>
              </div>
            </div>
        <% } %>
        <% if(tests.length > 50){%>
            <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
              <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                <P>Completed 50 tests</P>
              </div>
            </div>
        <% } %>
        <% if(tests.length > 100){%>
            <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
              <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                <P>Completed 100 tests</P>
              </div>
            </div>
          <% } %>
          <% if(profile.best_wpm > 50){%>
            <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
              <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                <P>Hit 50 WPM</P>
              </div>
            </div>
          <% } %>
          <% if(profile.best_wpm > 100){%>
            <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
              <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                <P>Hit 100 WPM</P>
              </div>
            </div>
          <% } %>
          <% if(profile.best_wpm > 150){%>
            <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
              <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                <P>Hit 150 WPM</P>
              </div>
            </div>
          <% } %>
          <% if(friends.length > 0){%>
            <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
              <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                <P>Added a friend</P>
              </div>
            </div>
          <% } %>
    </section>

    <script>
      function handleTabs(evt, name) {
        let i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].classList.remove("bg-gray-200", "text-gray-900", "font-medium", "rounded-full", "py-2", "px-4", "text-sm");
        }

        document.getElementById(name).style.display = "block";

        evt.currentTarget.classList.add("bg-gray-200", "text-gray-900", "font-medium", "rounded-full", "py-2", "px-4", "text-sm");
      }
      document.addEventListener("DOMContentLoaded", () => {
        const defaultTab = document.getElementsByClassName("tablinks")[0];
        if (defaultTab) {
          defaultTab.click();
        }
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
      // Logout Button Handler
      const button = $("#logout");
      button.on("click", () => {
        if (window.confirm("Are you sure you want to log out?")) {
          $.ajax({
                   url: '/logout',
                   method: 'GET',
                   success: function () {
                     window.location.href = '/';
                   },
                   error: function () {
                     alert('Error logging out');
                   }
                 });
        }
      });

      // Friend Form Submit Handler
      const form = $('#friend-form');
      form.on('submit', (e) => {
        e.preventDefault();

        const username = form.find('[name="username"]').val();

        if (!username) {
          alert('Please enter a valid email address or password');
          return;
        }

        $.ajax({
                 url: '/api/friend',
                 method: 'POST',
                 contentType: 'application/json',
                 data: JSON.stringify({ username }),
                 success: function (result) {
                   $('#friend-lst').append(`<div class="mb-4">
                <div class="px-5 py-3 bg-gray-200 rounded-lg w-full flex space-x-3.5 flex-nowrap items-center">
                  <div class="flex space-x-3.5 w-full flex-nowrap items-center">
                    <div class="avatar">
                      <P>` + result.display_name[0] + `</P>
                    </div>
                    <div class="flex flex-wrap justify-between">
                      <div class="w-auto">
                        <p>` + result.display_name + `</p>
                      </div>
                    </div>
                  </div>
                        <div class="bg-green-300 px-2 py-1 rounded-full text-nowrap">
                        <p id="post-wpm-badge" class="text-sm">Friend Added</p>
                    </div>
                </div>
              </div>
              `);
                 },
                 error: function (e) {
                   alert(e.responseText);
                 }
               });
      });

      // Remove Friend Function
      function removeFriend(id) {
        $.ajax({
                 url: '/api/friend',
                 method: 'DELETE',
                 contentType: 'application/json',
                 data: JSON.stringify({ id }),
                 success: function () {
                   $('#friend-entry-' + id).remove()
                 },
                 error: function () {
                   alert('Error removing friend');
                 }
               });
      }



      function deleteProfile() {
        if (confirm('Are you sure you want to delete this profile? All your tests and data will be deleted')) {

          $.ajax({
                   url: '/profile',
                   method: 'DELETE',
                   contentType: 'application/json',
                   error: function (e) {
                     alert("Error: " + JSON.stringify(e));
                   }
                 });
        }

        window.location.href = '/logout';
      }

      document.addEventListener("DOMContentLoaded", (event) => {
        document.getElementById("dp-inp").value = "<%= profile.display_name %>"
      })

      const dpform = document.getElementById('dn-form');

      dpform.onsubmit = (e) => {

        const formData = new FormData(dpform);

        const display_name = formData.get('display_name');

        $.ajax({
                 url: '/profile',
                 method: 'PATCH',
                 contentType: 'application/json',
                 data: JSON.stringify({ display_name }),
                success: function () {
                },
                 error: function () {
                   showAlert('Display name not changed')

                 }
               });
        showAlert('Display name changed')

        e.preventDefault();
      }

    </script>

  </body>
</html>
