<html lang="en">
  <head>
    <title>My Songs</title>
    <link rel='stylesheet' href='/css/tailwind.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('./partials/_header.ejs'); %>
    <section class="mx-auto w-full">
      <div class="flex justify-start items-center space-x-4">
        <a href="/profile" class="back__btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
          </svg>
        </a>
        <h1 class="text-3xl font-bold">My Songs</h1>
      </div>
      <section class="py-4 overflow-hidden">
        <div class="mx-auto">
          <section id="recent-tests" class="tabcontent">
            <% Object.entries(songs).forEach((song, i) => { %>
              <div class="flex space-x-4 w-full flex-nowrap items-center mb-4">

                <div class="px-5 py-4 bg-gray-200 rounded-lg w-full">
                  <div class="flex flex-wrap justify-between -m-2">
                    <div class="w-auto p-2">
                      <p>Level <%- song[1].find(s=>s.default).level %> • <%- song[1].find(s=>s.default).bpm %> - <%- song[1].find(s=>s.default).bpm +9 %>  WPM</p>
                    </div>
                    <div class="flex space-x-2">
                      <a target="_blank" href="<%- song[1].find(l => l.default).link ? song[1].find(l => l.default).link : song[1][Math.floor(Math.random() * 3 + 1)].link %>" class=primary__btn>Listen</a>
                      <label for="song">
                        <select id="song-dd-<%-i%>" class="w-auto p-2 bg-gray-300 rounded-lg">
                        <% song[1].forEach((s, i) => { %>
                            <option <%= (song[1].find(l => l.default)?.link === s.link ? "selected" : "") %> value="<%- s.level + "_" + i %>"><%- s.name %></option>
                          <% }); %>
                        </select>
                      </label>
                    </div>

                  </div>
                </div>
              </div>
            <% }); %>
          </section>
      </div>
    </section>
    </section>
    <script>

      for(let i = 0; i < 10; i++){
        document.getElementById(`song-dd-${i}`).addEventListener("change", function () {
          fetch("/settings/songs", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
                                   data: this.value
                                 }),
          })
        })
      }

    </script>

  </body>
</html>
